%h3
  %div{:class=>'row'}
    %div{:class=>'col-sm-8'}
      %div{:class=>''} Feed
      - @animes.each.with_index() do |anime,index|
        .card{:class => "col-sm-10 mb-3 mt-3"}
          .card-body
            = link_to anime.name, 'animes/'+anime.id.to_s,class:"fs-5"
            %div{:class=>'fw-normal fs-6'} Synosis: #{anime.synosis}
            -if anime.on_air
              %div{:class=>'fw-normal fs-6'} On-air now
            -else
              %div{:class=>'fw-normal fs-6'} Not on-air
            %div{:class=>'fw-normal fs-6'} day: #{anime.get_day}
            %div{:class=>'fw-normal fs-6'} time: #{anime.show_time.to_s[10,15]}
            %div{:class=>'fw-normal fs-6'} episode: #{anime.episode}
            %div{:class=>'fw-normal fs-6'} #{anime.get_like}

            %div{:class=>'row'}
              %div{:class=>'col-sm-2'}
                -if LikeAnime.find_by(user_id:@user.id,anime_id:anime.id)
                  = link_to 'unlike', "/like_anime/"+anime.id.to_s,class:"fs-5"
                -else
                  = link_to 'like', "/like_anime/"+anime.id.to_s,class:"fs-5"
              %div{:class=>'col-sm-2'}
                -if Follow.find_by(user_id:@user.id,anime_id:anime.id)
                  = link_to 'unfollow', "/follow_anime/"+anime.id.to_s,class:"fs-5"
                -else
                  = link_to 'follow', "/follow_anime/"+anime.id.to_s,class:"fs-5"
              %div{:class=>'col-sm-8'}
                -if MyList.find_by(user_id:@user.id,anime_id:anime.id)
                  = link_to 'remove from list', "/add_to_list/"+anime.id.to_s,class:"fs-5"
                -else
                  = link_to 'add to list', "/add_to_list/"+anime.id.to_s,class:"fs-5"
    %div{:class=>'col-sm-4'}
      %div{:class=>''} News
      - @news.each.with_index() do |news,index|
        .card{:class => "col-sm-10 mb-3 mt-3"}
          .card-body
            = link_to news.headline, 'anime_news/'+(news.id.to_s),class:"fs-5"
            %div{:class=>'fw-normal fs-6'} #{news.context}
            %div{:class=>'fw-normal fs-6'} #{news.get_like}
            -if LikeNews.find_by(user_id:@user.id,anime_news_id:news.id)
              = link_to 'unlike', "/likenews/"+news.id.to_s,class:"fs-5"
            -else
              = link_to 'like', "/likenews/"+news.id.to_s,class:"fs-5"










