%h1 Listing source0s

%table
  %thead
    %tr
      %th Anime
      %th Platform1
      %th Desc
      %th
      %th
      %th

  %tbody
    - @source0s.each do |source0|
      %tr
        %td= source0.anime
        %td= source0.platform1
        %td= source0.desc
        %td= link_to 'Show', source0
        %td= link_to 'Edit', edit_source0_path(source0)
        %td= link_to 'Destroy', source0, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Source0', new_source0_path
