%h1 Listing follows

%table
  %thead
    %tr
      %th User
      %th Anime
      %th
      %th
      %th

  %tbody
    - @follows.each do |follow|
      %tr
        %td= follow.user
        %td= follow.anime
        %td= link_to 'Show', follow
        %td= link_to 'Edit', edit_follow_path(follow)
        %td= link_to 'Destroy', follow, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Follow', new_follow_path
