%h1 Listing comment_animes

%table
  %thead
    %tr
      %th User
      %th Anime
      %th Msg
      %th
      %th
      %th

  %tbody
    - @comment_animes.each do |comment_anime|
      %tr
        %td= comment_anime.user
        %td= comment_anime.anime
        %td= comment_anime.msg
        %td= link_to 'Show', comment_anime
        %td= link_to 'Edit', edit_comment_anime_path(comment_anime)
        %td= link_to 'Destroy', comment_anime, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Comment anime', new_comment_anime_path
